@import "tailwindcss";

:root {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto,
    "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}
